/* 页面撑开头部样式 */
.content {
	padding-top: var(--status-bar-height);
}

/* 头部公告样式 */
.top-bar{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	height: 88rpx;
	padding-top: var(--status-bar-height);
	width: 100%;
	box-sizing: border-box;
	/* background: rgba(255,255,255,0.9);
	border-bottom:1px solid $uni-border-color; */
	.top-bar-left{
		float: left;
		padding-left: $uni-spacing-col-base;
		image{
			padding-top: 10rpx;
			width: 68rpx;
			height: 68rpx;
			border-radius: 16rpx;
			
		}
		.text{
			font-size: $uni-font-size-lg;
			font-weight: 500;
			color: $uni-text-color;
			line-height: 88rpx;
		}
		.back-img{
			margin-top: 21rpx;
			width: 46rpx;
			height: 46rpx;
		}
	}
	.top-bar-center{
		position: absolute;
		text-align: center;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin:auto;
		.logo{
			padding-top: 39rpx;
			width: 88rpx;
			height: 42rpx;
		}
	}
	.top-bar-right{
		float: right;
		.search{
			width: 88rpx;
			height: 88rpx;
			display: inline-block;
		}
		.add{
			width: 88rpx;
			height: 88rpx;
			padding-left: 14rpx;
			display: inline-block;
		}
		.text{
			font-size: $uni-font-size-lg;
			font-weight: 500;
			color: $uni-text-color;
			line-height: 88rpx;
			padding-right: 32rpx;
		}
		image{
			padding: 18rpx 0 0 18rpx;
			width: 52rpx;
			height: 52rpx;
			
		}
		.more-img{
			height: 88rpx;
			padding-top: 10rpx;
			padding-right: $uni-spacing-col-base;
			image{
				width: 52rpx;
				height: 12rpx;
			}
		}
	}
}